# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS
*.DS_Store
./xcode
./xcode/*
xcode/mrhpsspeech/
xcode/mrhpsspeech/mrhpsspeech.xcodeproj/project.pbxproj
xcode/mrhpsspeech/mrhpsspeech.xcodeproj/project.xcworkspace/contents.xcworkspacedata
xcode/mrhpsspeech/mrhpsspeech.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
xcode/mrhpsspeech/mrhpsspeech.xcodeproj/project.xcworkspace/xcuserdata/Jens.xcuserdatad/UserInterfaceState.xcuserstate
xcode/mrhpsspeech/mrhpsspeech.xcodeproj/xcuserdata/Jens.xcuserdatad/xcschemes/xcschememanagement.plist
xcode/mrhpsspeech/mrhpsspeech.xcodeproj/project.pbxproj
xcode/mrhpsspeech/mrhpsspeech.xcodeproj/project.xcworkspace/contents.xcworkspacedata
xcode/mrhpsspeech/mrhpsspeech.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
xcode/mrhpsspeech/mrhpsspeech.xcodeproj/project.xcworkspace/xcuserdata/Jens.xcuserdatad/UserInterfaceState.xcuserstate
xcode/mrhpsspeech/mrhpsspeech.xcodeproj/xcuserdata/Jens.xcuserdatad/xcschemes/xcschememanagement.plist
xcode/mrhpsspeech/mrhpsspeech.xcodeproj/xcuserdata/Jens.xcuserdatad/xcschemes/xcschememanagement.plist
xcode/mrhpsspeech/mrhpsspeech.xcodeproj/project.xcworkspace/xcuserdata/Jens.xcuserdatad/UserInterfaceState.xcuserstate
xcode/mrhpsspeech/mrhpsspeech.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
xcode/mrhpsspeech/mrhpsspeech.xcodeproj/project.xcworkspace/contents.xcworkspacedata
xcode/mrhpsspeech/mrhpsspeech.xcodeproj/project.pbxproj
./tools/mrhclispeech/xcode/*
./tools/mrhclispeech/xcode
./tools/mrhclispeech/xcode/mrhclispeech
tools/mrhclispeech/xcode/mrhclispeech/mrhclispeech.xcodeproj/project.xcworkspace/contents.xcworkspacedata
tools/mrhclispeech/xcode/mrhclispeech/mrhclispeech.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
tools/mrhclispeech/xcode/mrhclispeech/mrhclispeech.xcodeproj/project.xcworkspace/xcuserdata/Jens.xcuserdatad/UserInterfaceState.xcuserstate
tools/mrhclispeech/xcode/mrhclispeech/mrhclispeech.xcodeproj/xcuserdata/Jens.xcuserdatad/xcschemes/xcschememanagement.plist
tools/mrhclispeech/xcode/mrhclispeech/mrhclispeech.xcodeproj/project.pbxproj
tools/mrhclispeech/xcode/mrhclispeech/mrhclispeech.xcodeproj/xcshareddata/xcschemes/mrhclispeech.xcscheme
tools/mrhclispeech/xcode/mrhclispeech/mrhclispeech.xcodeproj/xcuserdata/Jens.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
./tools/mrhlaudiodev/xcode/*
./tools/mrhlaudiodev/xcode
./tools/mrhlaudiodev/xcode/mrhlaudiodev
tools/mrhlaudiodev/xcode/mrhlaudiodev/mrhlaudiodev.entitlements
tools/mrhlaudiodev/xcode/mrhlaudiodev/mrhlaudiodev.xcodeproj/project.pbxproj
tools/mrhlaudiodev/xcode/mrhlaudiodev/mrhlaudiodev.xcodeproj/project.xcworkspace/contents.xcworkspacedata
tools/mrhlaudiodev/xcode/mrhlaudiodev/mrhlaudiodev.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
tools/mrhlaudiodev/xcode/mrhlaudiodev/mrhlaudiodev.xcodeproj/project.xcworkspace/xcuserdata/Jens.xcuserdatad/UserInterfaceState.xcuserstate
tools/mrhlaudiodev/xcode/mrhlaudiodev/mrhlaudiodev.xcodeproj/xcuserdata/Jens.xcuserdatad/xcschemes/xcschememanagement.plist
tools/mrhlaudiodev/xcode/mrhlaudiodev/mrhlaudiodev.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
tools/mrhlaudiodev/xcode/mrhlaudiodev/mrhlaudiodev.xcodeproj/project.xcworkspace/contents.xcworkspacedata
